/.venv/
/.idea/
/sqlite.db
*__pycache__*
/result.txt
/papers/
/test_data-result.txt
/test_data/segd-test.sgd
/test_data/
/decimate-0.4.0/
/segdpy/
/decimated_files/
/error-log.txt
/grane-files.txt
/sensors.txt
/snorre-results.txt
/decimate
/decimated_files.tar.gz
/requested-times.txt