# This instance of the ringserver only streams data that are going to NNSN
[Unit]
Description=mSeed ringserver

[Service]
User=hnet-admin
ExecStart=/usr/local/bin/ringserver -Rd /ccs-passive/mseed/nnsn/ -L 18000 -MSSCAN "/ccs-passive/mseed/nnsn StateFile=/ccs-passive/mseed/nnsn/scan.state InitCurrentState=y" -I "Equinor MiniSeed Streamer"
Restart=always

[Install]
WantedBy=multi-user.target
