[Unit]
Description=mSeed ringserver

[Service]
User=hnet-admin
# Documentation https://github.com/iris-edu/ringserver/blob/master/doc/ringserver.md
ExecStart=/usr/local/bin/ringserver -Rd /ccs-passive/mseed/nnsn/ -L 18000 -MSSCAN "/ccs-passive/mseed/nnsn StateFile=/ccs-passive/mseed/nnsn/scan.state InitCurrentState=y" -I "Equinor MiniSeed Streamer"
Restart=always

[Install]
WantedBy=multi-user.target
