[Unit]
Description=Email notifier on seismic event
[Service]
ExecStart=/home/earthworm/send-ew-event-mail.sh
Restart=on-failure
RestartSec=30
User=earthworm
Group=earthworm

StandardOutput=file:/data/ew/logs/email-event.log
StandardError=file:/data/ew/logs/email-event.log
[Install]
# When to start the service. multi-user = after network, graphical.target = after GUI
WantedBy=multi-user.target
#Requires=< list of prerequisites services>
