[Unit]
Description=Seiscomp
Requires=earthworm.service
[Service]
ExecStart=/home/earthworm/seiscomp-ubu-22/bin/seiscomp start
RemainAfterExit=yes
ExecStop=/home/earthworm/seiscomp-ubu-22/bin/seiscomp stop
ExecReload=/home/earthworm/seiscomp-ubu-22/bin/seiscomp restart
User=earthworm
Group=earthworm

[Install]
# When to start the service. multi-user = after network, graphical.target = after GUI
WantedBy=multi-user.target
